.title-background{
      display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px  #e6e4e4;
    border-radius: 15px;
    justify-content: space-between;
    margin-top: 10px;
   
    
}
