.head{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px  #e6e4e4;
    border-radius: 15px;
    justify-content: space-between;
   
    
}
.left-head{
    font-size: x-large;
    font-weight: bold;
}
.right-head{
      display: flex;
      gap: 15px;
      align-items: center;
    }
.right-head select{
    background-color: rgb(171, 234, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-right: 10%;
    font-size: medium;
  
}

.probation {
  background-color: #ffe066; /* light yellow */
  
}
.active{
    background-color: lightgreen;
}
.inactive{
    background-color: lightcoral;
}
.table {
  width: 100%;
  margin: 2%;

  /* border-radius: 10px;
  /* overflow: hidden; */
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.05);  */ 
    border-collapse:separate;
    border-spacing: 0 10px;
    background-color: #FAFAFA;



 
}
.icon-button{
  display: flex;
  gap: 2%;
  
  background-color: rgb(171, 234, 255);
  padding: 10px;
  border-radius: 10px ;
  height: 50px;
  width: 260px;
  
}
.icon-button i{
  background-color:rgb(46, 148, 243) ;
  color: white;
  border-radius:  50% ;
   display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;

}

th {
  background-color: #eaf4ff;
  font-weight: 600;
}



    
   